
@{
    ViewData["Title"] = "HTML Form for Dog";
}

<h1>Dog Form</h1>

<form method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" />
    <span>*</span>
    <br />

    <label for="dob">Date of Birth:</label>
    <input type="date" id="dob" name="dob" />
    <span>*</span>
    <br />

    <label for="breed">Breed:</label>
    <input type="text" id="breed" name="breed" />
    <span>*</span>
    <br />

    <input type="submit" value="Add Dog" class="btn btn-primary" />
</form>
